# markdown
## mark
### mark
#### mark 
* *point 1*(italic)
* **point 2** (bold)
* point 3(bold and italic)


* normal text

 > 1.point 1
 
 > 2.point 2

* google sites -- [1]:https://mail.google.com/mail/u/0/#inbox
* msn site     -- [2]:http://www.msn.com

* []option 1

* google site -- [google][1]
[1]: http://www.google.com

### python basics

* python version 3.7
- functional programming
- object orented programming 
-  scripting programming

In [6]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [7]:
print("hello,rohith")

hello,rohith

In [19]:
print("hello,gitam","|||",end = "")
print("hyderabad",end ="|||")
print("python programming")

hello,gitam |||hyderabad|||python programming

In [20]:
n1=100 #single  variable assignment
a = b = c = 20 #multi variable assignment of same value 
a1 , b1 , c1 =111,222,333 #multi variable assignment  of different value 

print(n1)

print(a,b,c)

print(a1,b1,c1)

100
20 20 20
111 222 333

##data types and conversions
* int
* float
* string

In [25]:
a=100
s1= " python"
s2= 'p'
f1= 10.1
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100  python p 10.1
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [5]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
s1="100"
print(type(s1))
i=int(s1)
print(type(i))
f1=1.5
a1=int(f1)
print(type(a1))

<class 'str'>
<class 'int'>
<class 'int'>

In [14]:
a=1234
print(len(str(a)))

4

In [15]:
a=123456789
print(len(str(a)))

9

In [ ]:
# Reading a value---input function

In [17]:

s1=input("enter your name")
print(s1)
print(type(s1))

enter your namearif
arif
<class 'str'>

In [22]:
n1=int(input("enter your num"))
print(n1,type(n1))

enter your num221810311017
221810311017 <class 'int'>

# operators
* it is the symbol used to operate a specfic kind of operation

In [23]:
print(20+30)

50

In [25]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# precedence of arith operators
* paranthesis
* power
*multiplication
*addition

In [27]:
x=1+2** 3/4+5
print(x)

8.0

In [28]:
y=1+2**4/2*6
print(y )

49.0

In [30]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

# control flow statements
* conditional statements
* looping statement

In [2]:
n=int(input("enter the number"))
if n%2 == 0:
     print("even")
else:
    print("odd")

enter the number4563528
even

In [11]:
# cheak num is multiple by 3 and 5
n=int(input("enter the number"))
if n%3==0and n%5==0:
    print("yes")
else:
    print("no")

enter the number99
no

In [16]:
#num is -ve =ve or 0
n=int(input("enter the number"))
if n==0:
    print("zero")
elif n>0:
    print("+ve")
else:
    print("-ve")

enter the number0
zero